html, 
body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    color: #302929;
}
h5 {
    text-align: center;
}

a {
    text-decoration: none;
}

.headerInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    flex-gap: 4px;
    height: 4em;
    padding: 0.1em;
    
}
.headerInfo > div > p > a{
    color: black;
    font-weight: bold;   
}
.header-title {
    margin: 5px 15px;
}
.header-menu {
    margin-right: 10px;
    display: flex;
    justify-content: space-around;  
}
.header-menu > p {
    margin-right: 5px;
}



.portfolio-card {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    padding: 1em;
    
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(3, minmax(75px, 1fr));
    grid-template-rows: repeat(2, minmax(75px, 1fr));
    grid-template-areas: 
    "image image image"
    "time time time"
    "title title title"
    "descriere descriere descriere";
    
    grid-gap: 20px;
    margin: 10px 0px;
}

.image {
    grid-area: image;
    max-width: 100%;
}
.portofolio-card-time {
     grid-area: time;
     margin-top: 8px;
     }
.portfolio-card-title {
    grid-area: title;
    margin: 7px 0; 
    }
.portfolio-card-p {
    grid-area: descriere;
    margin: 7px 0;
    font-size: 0.9em;
    }

.central-page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
    /* height: 100%; */

}
.image-first {
    position: relative;
    grid-row: 1 / 2;
    background-size: cover;
    width: 100%;
    height: 18em;
    background-image: url("https://i.ibb.co/tZ2L6J2/OIG3.jpg");
    background-position: center;
    
}

.central-scris {
    position: absolute;
    top: 50%; 
    right: 20px; 
    transform: translateY(-50%); 
    padding: 20px;
    color: whitesmoke;

}

footer {
    background-color: black;
    color: whitesmoke;
    font-size: 0.5em;
    text-align: center;
    padding: 0.125em 0.375em;
}

footer > p {
    margin-bottom: 0;
}

@media (max-width: 575px) {
    .portfolio {
    display: grid;
    grid-template-columns: minmax(75px, 1fr);
    /* grid-template-rows: repeat(2, minmax(150px, 1fr)); */
    grid-template-areas: 
    "image"
    "time"
    "title"
    "descriere";
    grid-gap: 10px;
    margin: 5px 5px;
    
    }
    
.image-first {
    height: 15em;  
}
.headerInfo{
    font-size: 0.65em;
    color: black;
}
.portfolio-card-p {
    font-size: 0.9em;
}
.first-article {
    font-size: 0.75em;
}
.time {
    font-size: 0.65em;
}
.title {
    font-size: 1em;
}
.headerInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-title {
    display: flex;
    align-items: center;
}
.header-menu {
    align-items: center;
}
}

